.popular-ship__description-group{
  display: flex;
  margin: 30px 0 0 0;
}

@media screen and (max-width: 571px) {
  .popular-ship__description-group {
    display: flex;
    margin: 30px 0 0 0;
    flex-direction: column;
}
}
